---
// Header component with logo, tagline, and About me CTA
import logoNico from '../assets/images/logo-nico.svg';
---

<header class="header">
  <div class="container mt-md-3">
    <div class="row align-items-center">
      <div class="col-auto">
        <a href="/" class="header__brand">
          <!-- Logo -->
          <img 
            src={logoNico.src} 
            alt="nico.ar"
            class="header__logo"
          />
          <div>
            <p class="header__tagline">Notes on Design & Tech</p>
          </div>
        </a>
      </div>
      <div class="col"></div>
      <div class="col-auto">
        <div class="header__cta">
          <a href="#about">About me</a>
        </div>
      </div>
    </div>
  </div>
</header>
